name: SCA - SBOM (Syft) + Vulnerability Scan (Grype)

on:
  pull_request:
  push:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  sca:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate SBOM (Syft) - SPDX JSON
        uses: anchore/sbom-action@v0
        with:
          path: .
          format: spdx-json
          output-file: sbom.spdx.json

      - name: Scan SBOM with Grype (SARIF)
        uses: anchore/scan-action@v6
        with:
          sbom: sbom.spdx.json
          fail-build: false
          output-format: sarif
          output-file: grype.sarif   # << aqui

      - name: Upload SARIF
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: grype.sarif

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: sca-artifacts
          path: |
            sbom.spdx.json
            grype.sarif

